@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 93.75%;
    /* 1rem = 15px, 15px/16px = 93.75% */
}

:root {
    --big-font-family: 'Big Shoulders Display', "cursive";
    --lexend-font-family: 'Lexend Deca', sans-serif;
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);

    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    /*-paragraphs*/
    --Very-light-gray: hsl(0, 0%, 95%);
    /*(background, headings, buttons)*/
}

body {
    background-color: var(--Transparent-white);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid red; */
}

.card {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    /* border: 2px solid red; */
    font-family: var(--lexend-font-family);
    color: var(--Transparent-white)
}

.card img {
    width: 3rem;
    height: 2rem;
    /* border: 2px solid red; */
}

.card h1 {
    font-family: var(--big-font-family);
    font-size: 2.5rem;
    text-transform: uppercase;
    /* border: 2px solid red; */
}

.card p {
    font-size: .65rem;
    line-height: 1.8;
    /* border: 2px solid red; */

}

.card button {
    width: max-content;
    padding: .6rem 1.3rem;
    border-radius: 1.5rem;
    border: none;
    /* border: 2px solid red; */
    margin-top: 3rem;
    font-size: .7rem;
    cursor: pointer;
}
.card button:active{
    border: 1px solid white;
    color: white;
}

.sedans{
   background-color: var(--Bright-orange);
}
.sedans button{
    color: var(--Bright-orange);
}
.sedans button:active{
    background-color: var(--Bright-orange);
}
.suv{
    background-color: var(--Dark-cyan);
}
.suv button{
    color: var(--Dark-cyan);
}
.suv button:active{
    background-color: var(--Dark-cyan);
}
.luxury{
    background-color: var(--Very-dark-cyan);
}
.luxury button{
    color: var(--Very-dark-cyan);
}
.luxury button:active{
    background-color: var(--Very-dark-cyan);
}

@media (max-width:580px){
    .card{
        min-height: 20px;
    }
}

@media (max-width:750px){
    .container{
       grid-template-columns: 1fr;
       max-width: 30%;
    }
    .card button{
        margin-top: 0;
    }
    .card{
        min-height: 15rem;;
        padding: 2rem 1.5rem;
    }
    .card h1{
        font-size: 1.8rem;
    }
}
